#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}
@keyframes fadein{
  from {opacity: 0;}
  to { opacity: 1;}
}
@keyframes fadeout{
  from {opacity: 1;}
  to { opacity: 0;}
}
@keyframes fastpop{
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% { opacity: 0;}
}
.fastpop {
  animation: fastpop 1s 3;
}

.fadeout {
  animation: fadeout 2s forwards;
}
.fadein {
  animation: fadein 2s;
}
.longfadein {
  animation: fadein 5s;
}
.hidden {
  display: none;
}


@keyframes textMoveDown {
  0% { 
    transform: translateY(00%);
  }
  100% { 
    transform: translateY(20%);
  }
}
@keyframes lineMoveDown {
  0% { 
    transform: translateY(00%);
  }
  100% { 
    transform: translateY(10%);
  }
}
@keyframes fillup {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-30%);
  }
}

@keyframes blubber {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(10%);
  }
}
@keyframes sideWays {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(5%);
  }
}

.lns{
  animation: lineMoveDown 0.1s linear infinite;
}
.txt{
  animation: textMoveDown 0.2s linear infinite;
}
.fillup{
  animation: fillup 1s linear forwards;
}
.blub{
  animation: blubber 7s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
